<div class="payform">
  <h1>Shopping Bag</h1>
  <div *ngIf="shoppingBag.length > 0; else emptyBag" class="shopping-container">
    <div *ngFor="let product of shoppingBag" class="product-row">
      <img [src]="product.shoe.image" alt="{{ product.name }}" class="product-image">
      <div class="product-info">
        <div class="product-name">{{ product.shoe.name }}</div>
        <div class="product-details">
          <p>Color: {{ product.shoe.color }}</p>
          <p>Talla: {{ product.shoe.size }}</p>
          <p>Marca: {{ product.shoe.brand }}</p>
        </div>
      </div>
      <div class="product-quantity">Cantidad: {{ product.quantity }}</div>
      <div class="product-price">${{ product.shoe.price * product.quantity | number:'1.2-2' }}</div>
      <button class="remove-button" (click)="removeProduct(product)">Eliminar</button>
    </div>
    <div class="total-container">
      <div class="total-text">Total a pagar:</div>
      <div class="total-amount">${{ totalPrice | number:'1.2-2' }}</div>
    </div>
  </div>

  <form *ngIf="!formStatic" (ngSubmit)="saveBankData()" class="bank-form">
    <h3>Datos Bancarios</h3>
    <div class="form-group">
      <label for="cvv">CVV:</label><br>
      <input type="text" id="cvv" [(ngModel)]="bankData.cvv" name="cvv" required maxlength="4" minlength="4" />
    </div>
    <div class="form-group">
      <label for="accountNumber">Número de cuenta:</label><br>
      <input type="text" id="accountNumber" [(ngModel)]="bankData.accountNumber" name="accountNumber" required maxlength="16" minlength="16" />
    </div>
    <div class="form-group">
      <label for="bank">Banco:</label><br>
      <select id="bank" [(ngModel)]="bankData.bank" name="bank" required>
        <option value="BBVA">BBVA</option>
        <option value="Santander">Santander</option>
        <option value="Banorte">Banorte</option>
        <option value="HSBC">HSBC</option>
        <option value="Citibanamex">Citibanamex</option>
      </select>
    </div>
    <button type="submit" class="btn">Guardar Datos Bancarios</button>
  </form>

  <div *ngIf="formStatic" class="bank-data-summary">
    <h3>Datos Bancarios Guardados</h3>
    <p>CVV: {{ bankData.cvv }}</p>
    <p>Número de cuenta: {{ bankData.accountNumber }}</p>
    <p>Banco: {{ bankData.bank }}</p>
    <button (click)="editBankData()" class="btn">Modificar Datos</button>
    <button (click)="deleteBankData()" class="btn delete">Eliminar Datos</button>
  </div>

  <button [disabled]="!bankDataComplete" (click)="pay()" class="btn pay-button">Pagar</button>
  <div class="historial">
  <h3>Historial de Compras</h3>
  <div *ngIf="history.length > 0; else noHistory">
    <ul>
      <li *ngFor="let purchase of history">
        {{ purchase.shoe.name }} - Cantidad: {{ purchase.quantity }} - Precio Total: ${{ purchase.shoe.price * purchase.quantity | number:'1.2-2' }}
      </li>
    </ul>
  </div>
  <ng-template #noHistory>
    <p>No hay historial de compras.</p>
  </ng-template>
</div>
  <ng-template #emptyBag>
    <div class="emptycart">
      <p>Tu bolsa de compras está vacía.</p>
    </div>
  </ng-template>
</div>
