<body>
  
    <nav class="navbar">
        <div class="container">
            <a routerLink="/home" class="logo">SeaStore
                <img src="sea.png" alt="" class="sea">
            </a>
            <ul class="nav-links">
                <li><a routerLink="/home">Tienda</a></li>
                <li><a routerLink="/home">Sobre Nosotros</a></li>
            </ul>
            <div class="nav-icons">
                <a routerLink="/shopbag" class="cart-icon">
                  <i class='bx bxs-shopping-bag' style='color:#ffffff'></i>
                </a>
                <span class="user-icon" (click)="toggleSidebar()">
                  <i class='bx bxs-user' style='color:#ffffff'></i>
                </span>
            </div>
        </div>
    </nav>

    <div class="sidebar" [class.open]="isSidebarOpen">
        <div class="sidebar-content">
            <button class="close-button" (click)="closeSidebar()">X</button>
            <i class='bx bxs-user user-large-icon' id="biguser"></i>
            <span class="username">Hola {{ getUsername() }}</span> 
            <a routerLink="/login" class="logout" (click)="logout()">Log out</a>
        </div>
    </div> 
     <div id="overlay" class="overlay" (click)="closeSidebar()"></div>
</body>
