body {
    margin: 0;
}

.navbar {
    background-color: #004c99; 
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.logo {
    color: #ffffff; 
    font-size: 28px;
    text-decoration: none;
    margin-left: 120px;
}
.sea{
    width: 50px;
    margin-right: 730px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 70px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 21px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00; 
}
.nav-icons{
    display: flex;
    gap: 60px;
    margin-right: 50px;
    font-size: 24px;
    font-family: "Afacad", sans-serif;
    color: white;
}

#user-list:hover{
    color: #ffcc00; 
}
#user-list{
    font-family: "Afacad", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
    transition: opacity 0.3s ease;
  }
  
  .overlay.active {
    display: block;
  }
.sidebar {
    position: fixed;
    right: -360px; 
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #004c99;
    z-index: 100;
    display: flex;
    transition: right 0.3s ease; 
    padding: 30px;
}

.sidebar.open {
    right: 0 
}

.sidebar-content {
    display: flex;
    flex-direction: column;
   
}

.user-large-icon {
    font-size: 100px;
    color: #ffffff;
    margin-bottom: 20px;
}

.logout {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    bottom: 90px;
}
.logout:hover{
    color: #b9b9b9;
}

.user-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#biguser{
    margin-left: 100px;
    margin-top: 50px;
}

.close-button{
    background-color: transparent;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
}

.close-button:hover{
    color: #b9b9b9;
}

.username{
    font-size: 30px;
    color: #ffffff;
}
