.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    position: relative;
    width: 200px; /* Ajusta el tamaño de la tarjeta */
    margin: 20px;
    overflow: hidden; /* Para que no se desborde el contenido */
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
}

.card-image {
    width: 100%;
    border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.card-info {
    padding: 10px;
    text-align: center;
}

.card-hover {
    display: none; /* Ocultar el contenedor por defecto */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    transition: display 0.3s;
}

.card:hover .card-hover {
    display: flex; /* Mostrar el contenedor al pasar el cursor */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Asegurarse de que el contenedor esté por encima */
}

.hover-image {
    width: 150px; /* Tamaño de la imagen en el hover */
    margin-bottom: 10px;
}

.hover-info h3,
.hover-info p {
    margin: 5px 0;
}
