* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    position: relative;
    font-family: "Afacad", sans-serif;
}

.card {
    margin-top: 100px;
    position: relative;
    width: 200px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.368);
    z-index: 1; /* Cambiado para que todas las tarjetas estén por detrás inicialmente */
}

.card:hover {
    transform: scale(1.05);
    z-index: 10; 
    
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card-info {
    text-align: center;
    padding: 10px;
}

.card-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 20;
}

.card:hover .card-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: grow 0.4s ease forwards;
}

.hover-info h3, p{
    margin: 10px 0;
    text-align: center;
}

/* Nueva clase para la imagen ampliada */
.hover-image {
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación de expansión */
@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        transform: translate(-50%, -35%) scale(1);
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 5; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.card:hover ~ .overlay {
    opacity: 1;
    visibility: visible;
}

.content-card {
    background-color: antiquewhite;
    text-align: left;
}

#heart{
    margin-right: 90%;
    font-size: 25px;
}

.quantity{
    background-color: rgb(42, 50, 165);
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 15px;
    color: white;
}
