* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    font-family: "Afacad", sans-serif;
    padding: 50px;
}

.card {
    margin-top: 160px;
    position: relative;
    width: 200px;
    margin-bottom: 60px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.368);
    z-index: 1; 
}

.card:hover {
    transform: scale(1.05);
    z-index: 10; 
    
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card-info {
    text-align: center;
    padding: 10px;
}

.card-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 20;
}

.card:hover .card-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: grow 0.4s ease forwards;
}

.hover-info h3, p{
    margin: 10px 0;
    text-align: center;
}
.hover-image {
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        transform: translate(-50%, -45%) scale(1);
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 5; 
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.card:hover ~ .overlay {
    opacity: 1;
    visibility: visible;
}

.content-card {
    background-color: antiquewhite;
    text-align: left;
}

#heart{
    margin-right: 90%;
    font-size: 25px;
}

.quantity{
    background-color: rgb(42, 50, 165);
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 15px;
    color: white;
}
.add-product-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px; 
}

.add-product-button {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.add-product-button:hover {
    background-color: #45a049; 
}

.add-shoe-form {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 10px; 
    width: 300px; 
}

.add-shoe-form input,
.add-shoe-form textarea {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

.add-shoe-form button {
    background-color: #008CBA; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.add-shoe-form button:hover {
    background-color: #007B9E; 
}

.boton button{
    width: 70px;
    height: 40px;
    background-color: #1541b1;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.boton{
    display: flex;
    gap: 10px;
}

.boton button:hover{
    background-color: #001d66;
}

.editshoe{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.368);
    width: 350px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
}

.editshoe button{
    width: 100px;
    height: 40px;
    background-color: #1541b1;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.editshoe button:hover{
    background-color: #001d66;
}

.editshoe input{
    width: 100%;
    border: 0;
    margin-right: 5px;
    height: 40px;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.368);
}

.botonedit{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.editshoe p{
    left: 0;
    font-size: 18px;
}

.addbutton{
    width:120px;
    height: 50px;
    background-color: #1541b1;
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.addbutton:hover{
    background-color: #001d66;
}

.addshoe{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.368);
    width: 350px;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
}
.addshoe input{
    width: 100%;
    border: 0;
    margin-right: 5px;
    height: 40px;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.368);
}

.addshoe button{
    width: 100px;
    height: 40px;
    background-color: #1541b1;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.addshoe button:hover{
    background-color: #001d66;
}