<div class="container">
    <div class="card" *ngFor="let shoe of shoes">
      <img [src]="shoe.image" [alt]="shoe.name" class="card-image">
      <div class="card-info">
        <h3>{{ shoe.name }}</h3>
        <p>${{ shoe.price }}</p>
      </div>
      <div class="card-hover">
        <i class='bx bx-heart' id="heart" (click)="addToCart(shoe)"></i> <!-- Botón para agregar al carrito -->
        <span class="quantity">{{ getQuantity(shoe.id) }}</span> <!-- Cantidad en la esquina contraria -->
        <div class="hover-info">
          <img [src]="shoe.image" [alt]="shoe.name + ' Ampliado'" class="hover-image">
          <h3>{{ shoe.name }}</h3>
          <p>${{ shoe.price }}</p>
          <p>Descripción: {{ shoe.description }}</p>
          <p>Talla: {{ shoe.size }}</p>
          <p>Color: {{ shoe.color }}</p>
          <p>Marca: {{ shoe.brand }}</p>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
  