<div class="container">
  <div class="card" *ngFor="let shoe of shoes">
    <img [src]="shoe.image" [alt]="shoe.name" class="card-image">
    <div class="card-info">
      <h3>{{ shoe.name }}</h3>
      <p>${{ shoe.price }}</p>
    </div>
    <div class="card-hover">
      <i class="bx bx-heart" id="heart" (click)="addToCart(shoe)" *ngIf="isUser"></i>
      <span class="quantity" *ngIf="isUser">{{ getQuantity(shoe.id) }}</span>
      
      <div class="shoe-specs">
        <img [src]="shoe.image" [alt]="shoe.name + ' Ampliado'" class="hover-image">
        <p>{{ shoe.name }}</p>
        <p>${{ shoe.price }}</p>
        <p><strong>Color:</strong> {{ shoe.color }}</p>
        <p><strong>Talla:</strong> {{ shoe.size }}</p>
        <p><strong>Marca:</strong> {{ shoe.brand }}</p>
        <p><strong>Descripción:</strong> {{ shoe.description }}</p>
      </div>
      <div class="boton" *ngIf="isAdmin">
        <button (click)="editShoe = shoe">Modificar</button>
        <button (click)="deleteShoe(shoe.id)">Eliminar</button>
      </div>
    </div>
  </div>
  <div *ngIf="isAdmin && showForm" class="addshoe">
    <h2>Agregar nuevo zapato</h2>
    <p>Nombre</p><input [(ngModel)]="newShoe.name" placeholder="Nombre" />
    <p>Precio</p><input [(ngModel)]="newShoe.price" placeholder="Precio" type="number" />
    <p>Color</p><input [(ngModel)]="newShoe.color" placeholder="Color" />
    <p>Tamaño</p><input [(ngModel)]="newShoe.size" placeholder="Talla" type="number" />
    <p>Marca</p><input [(ngModel)]="newShoe.brand" placeholder="Marca" />
    <p>Descripción</p><input [(ngModel)]="newShoe.description" placeholder="Descripción" />
    <p>Imagen</p><input [(ngModel)]="newShoe.image" placeholder="URL de la imagen" disabled="true"/>
    <div class="botonedit">
      <button (click)="addNewShoe()">Agregar</button>
      <button (click)="toggleForm()">Cancelar</button>
    </div>
  </div>
  <div *ngIf="isAdmin && editShoe" class="editshoe">
    <h2>Editar zapato</h2>
    <p>Nombre:</p><input [(ngModel)]="editShoe.name" placeholder="Nombre" />
    <p>Precio:</p><input [(ngModel)]="editShoe.price" placeholder="Precio" type="number" />
    <p>Color:</p><input [(ngModel)]="editShoe.color" placeholder="Color" />
    <p>Tamaño:</p><input [(ngModel)]="editShoe.size" placeholder="Talla" type="number" />
    <p>Marca:</p><input [(ngModel)]="editShoe.brand" placeholder="Marca" />
    <p>Descripción:</p><input [(ngModel)]="editShoe.description" placeholder="Descripción" />
    <div class="botonedit">
      <button (click)="saveEditedShoe()">Guardar cambios</button>
      <button (click)="cancelEdit()">Cancelar</button>
    </div>
  </div>
  <button *ngIf="isAdmin" (click)="toggleForm()" class="addbutton">Agregar Zapato</button>
  
  <div class="overlay"></div>
</div>
