body {
    font-family: Arial, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 45, 141, 0.166);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 410px;
}

.login-form, .registration-form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"]{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 30px;
    width: 216px;
}

#name{
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        margin-left: 90px;
        width: 244px;
}
#lastname{
    padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        margin-left: 90px;
        width: 244px;
}
#username{
    padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        margin-left: 144px;
        width: 244px;
}

input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 70px;
    width: 245px;
}
input[type="email"]{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 28.3px;
    width: 243px;
}



input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #007BFF;
    outline: none;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.message {
    text-align: center;
    margin-top: 10px;
}

.message a {
    color: #007BFF;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}
